

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>text analyser</title>
</head>
<body>
<h1>Enter your text here</h1>
<form action='/analyse' method='get'>
<textarea name='text' style="margin: 0px; width: 1295px; height: 97px;"></textarea>
    <br>
    <input type="checkbox" name="spaceremove">Remove Space<br>
    <input type="checkbox" name="capfirst">capfirst<br>
    <input type="checkbox" name="newlineremove">newlineremove<br>
    <input type="checkbox" name="charcount">charcount<br>
    <button type='submit'>Analyse text</button>
    </form>



</body>
</html>